<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AppConfig" requirePermission="false"
             type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WinSCPnet" publicKeyToken="2271ec4a3c56d0bf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.3.9407" newVersion="1.6.3.9407" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <AppConfig>
    <add key="Server" value="Localhost" />
    <add key="Username" value="UsernameHere" />
    <add key="Password" value="" />
	<add key="ServerType" value="Ftp" />
    <add key="FTPMode" value="Passive" />
    <add key="FTPSecure" value="None" />
    <add key="IgnoreSSHorTLSKey" value="True" />
    <add key="PortNumber" value="21" />
    <add key="CleanupMonths" value="2" />
	
    <add key="TempPath" value="C:\Videos\New Downloads\Synced\Temp\" />
    
    <add key="MaxThreads" value="2" />
    <add key="WindUpTime" value="10"/>
    
    <add key="SonarrAPIKey" value="SonarrAPI Key" />
    <add key="SonarrBaseURL" value="http://10.99.0.1:8989/" />
    <add key="SonarrServerPath" value="/media/sdl/username/private/deluge/Completed/sonarr" />
    <add key="SonarrLocalPath" value="C:\Videos\New Downloads\Synced\tv-sonarr\" />

    <add key="RadarrAPIKey" value="RadarrAPI Key" />
    <add key="RadarrBaseURL" value="http://10.99.0.1:7878/" />
    <add key="RadarrServerPath" value="/media/sdl/username/private/deluge/Completed/radarr" />
    <add key="RadarrLocalPath" value="C:\Videos\New Downloads\Synced\radarr" />
    
  </AppConfig>
</configuration>